
###> symfony/framework-bundle ###
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea
###< symfony/framework-bundle ###

### Common gitignore files
/.env.local
/docker/.env.local

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
